.button-fill {
  border-radius: 10px;
  background-color: #FFA23C;
}

.button-outline {
  border: 2px solid rgba(54, 19, 74, 1);
  border-radius: 5px;
  background-color: #f5f5f5;
}

a {
  color: blue;
}